/*
 * @Date: 2019-09-03 14:33:09
 * @Author: Inlve
 * @LastEditors: Inlve
 * @LastEditTime: 2019-10-10 10:37:30
 */
#cart_container {
  margin: 20px auto 0;
}

#cart_container ul {
  list-style: none;
}

#cart_container a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

#cart_container img {
  display: block;
  height: 100%;
  margin: auto;
}

#cart_container label {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../images/shopcar/checked.png") center top no-repeat;
  cursor: pointer;
}

#cart_container label input {
  visibility: hidden;
}

#cart_container input {
  outline: none;
}

#cart_container > .top {
  display: none;
  justify-content: space-between;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-bottom: 2px solid #e6e6e6;
}

#cart_container > .top ul {
  display: flex;
  justify-content: space-between;
  width: 140px;
  color: #3c3c3c;
  font-weight: 700;
  position: relative;
}

#cart_container > .top ul li:first-child {
  position: absolute;
  width: 140px;
  height: 2px;
  background-color: #ff6026;
  bottom: -2px;
  left: 0;
  transition: all .3s linear;
}

#cart_container > .top ul li {
  flex: 1;
}

#cart_container > .top ul li.active {
  color: #ff6026;
}

#cart_container > .top ul li > a {
  display: flex;
  justify-content: center;
}

#cart_container > .top ul li > a h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

#cart_container > .top ul li > a span {
  color: #ff6026;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

#cart_container > .top p {
  font-size: 12px;
}

#cart_container > .top p span {
  margin: 0 5px;
  color: #ff6026;
  font-weight: 700;
}

#cart_container > .top p a {
  display: inline-block;
  outline: none;
  border-radius: 2px;
  background-color: #aaaaaa;
  color: #ffffff;
  width: 55px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  letter-spacing: .5em;
}

#cart_container > .info {
  display: grid;
  grid-template-columns: 140px 510px 130px 115px 170px 1fr;
  font-size: 12px;
  color: #3c3c3c;
  height: 50px;
  line-height: 50px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
}

#cart_container > .info li:first-child {
  padding-left: 15px;
}

#cart_container > .info li:first-child label {
  padding-left: 10px;
  vertical-align: middle;
}

#cart_container > .content article > header {
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
}

#cart_container > .content article > header label,
#cart_container > .content article > header span,
#cart_container > .content article > header h6,
#cart_container > .content article > header i {
  vertical-align: middle;
}

#cart_container > .content article > header span {
  font-size: 13px;
}

#cart_container > .content article > header h6 {
  display: inline-block;
  margin: 0;
  color: #3c3c3c;
  font-size: 12px;
  font-weight: 400;
}

#cart_container > .content article > section {
  background-color: #fcfcfc;
  border: 1px solid #cccccc;
}

#cart_container > .content article > section > section {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

#cart_container > .content article > section > section:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}

#cart_container > .content article > section > section > label {
  flex-shrink: 0;
  margin-left: 25px;
  margin-right: 10px;
}

#cart_container > .content article > section > section > ul {
  flex: 1;
  display: inline-grid;
  height: 130px;
  grid-template-columns: 342px 252px 130px 120px 170px 1fr;
}

#cart_container > .content article > section > section > ul li:first-child {
  display: flex;
  justify-content: flex-start;
}

#cart_container > .content article > section > section > ul li:first-child img {
  height: 80px;
  margin: 0;
}

#cart_container > .content article > section > section > ul li:first-child a:last-child {
  display: block;
  margin-left: 10px;
}

#cart_container > .content article > section > section > ul li:first-child a:last-child:hover {
  color: #008842;
  text-decoration: underline;
}

#cart_container > .content article > section > section > ul li:nth-child(2) {
  color: #9c9c9c;
}

#cart_container > .content article > section > section > ul li:nth-child(3) {
  font-weight: 700;
}

#cart_container > .content article > section > section > ul li:nth-child(3) span {
  margin: 0 3px;
}

#cart_container > .content article > section > section > ul li:nth-child(4) input {
  vertical-align: middle;
  border: 1px #cccccc solid;
}

#cart_container > .content article > section > section > ul li:nth-child(4) input[type='text'] {
  width: 40px;
  height: 21px;
  line-height: 25px;
  border: 1px solid #aaaaaa;
  color: #343434;
  text-align: center;
}

#cart_container > .content article > section > section > ul li:nth-child(4) input[type='button'] {
  width: 20px;
  height: 25px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

#cart_container > .content article > section > section > ul li:nth-child(4) input[type='button']:first-of-type {
  border-right-color: transparent;
}

#cart_container > .content article > section > section > ul li:nth-child(4) input[type='button']:last-of-type {
  border-left-color: transparent;
}

#cart_container > .content article > section > section > ul li:nth-child(5) {
  color: #ff4400;
  font-weight: 700;
}

#cart_container > .content article > section > section > ul li:nth-child(5) span {
  margin: 0 3px;
}

#cart_container > .content article > section > section > ul li:last-child {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  color: #3c3c3c;
}

#cart_container > .content article > section > section > ul li:last-child a:hover {
  color: #008842;
  text-decoration: underline;
}

#cart_container > .close {
  height: 50px;
  line-height: 50px;
  color: #3c3c3c;
  background-color: #e5e5e5;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 12px;
}

#cart_container > .close > ul {
  display: flex;
  justify-content: space-around;
}

#cart_container > .close > ul li {
  width: 70px;
  cursor: pointer;
  color: #3c3c3c;
}

#cart_container > .close > ul li:first-child {
  color: #000000;
}

#cart_container > .close > ul li:first-child label,
#cart_container > .close > ul li:first-child a {
  vertical-align: middle;
}

#cart_container > .close > ul li:not(:first-child):hover {
  color: #008842;
  text-decoration: underline;
}

#cart_container > .close > div {
  min-width: 430px;
  display: flex;
  justify-content: space-between;
}

#cart_container > .close > div > div span,
#cart_container > .close > div > div strong,
#cart_container > .close > div > div a {
  vertical-align: middle;
}

#cart_container > .close > div > div:first-child > strong {
  margin: 0 5px;
  font-size: 18px;
  font-weight: 700;
  color: #ff6600;
}

#cart_container > .close > div > div:last-child strong {
  margin: 0 5px;
  font-size: 22px;
  font-weight: 700;
  color: #ff6600;
}

#cart_container > .close > div > div:last-child a {
  display: inline-block;
  width: 120px;
  font-size: 20px;
  color: #ffffff;
  background-color: #b0b0b0;
  cursor: no-drop;
}
